@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
}

body  {
    background: #191919;
    font-family: 'Source Sans Pro', sans-serif;
}

#gui-stats-container {
    display: flex;
    font-size: 14px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    color: aliceblue;
}

#gui-stats-container span {
    width: 100px;
}

#gui-build-container {
    opacity: 0.9;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    padding: 2px 8px;
    width: 120px;
    margin-left: 8px;
    text-align: center;
    background: rgba(26, 28, 44, 0.4);
}

#gui-build-container h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: aliceblue;
    margin: 0 0 4px;
}

#gui-build-container button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    display: block;
    padding: 0.3em;
    margin-bottom: 0.2em;
    width: 100%;
}
